<table>
  <tbody>
    <tr>
      <td>
        Total: <span>$<%= @cart.get_total_price %></span>
      </td>
    </tr>
    <tr>
      <td><%= button_to "CHECKOUT", '#', class: "right"%></td>
    </tr>
  </tbody>
</table>
