<div class="waypoint-nav space"></div>
<%= render partial: 'shared/nav' %>

<div class="prints-container">
  <% @prints.each do |print| %>
  <figure>
    <%= link_to image_tag(print.image.url(:thumb)), print_path(print) %>
  </figure>
  <% end %>
</div>
