<div class="grid">
  <% @galleries.each do |gallery| %>

  <figure class="grid-hover">
    <%= image_tag(gallery_cover_h(gallery)) %>
    <figcaption>
      <h2 class="gallery-name"><%= gallery.name %></h2>
      <p><%= gallery.location %></p>
      <%= link_to '', gallery_path(gallery) %>
    </figcaption>
  </figure>

  <% end %>
</div>
