<nav id="primary-navigation" class="primary-navigation ">
  <div class="container">
    <a href="/" id="toggle-logo" class="visuallyhidden"><%= image_tag("navlogo.png", class: 'nav-logo') %></a>
    <a href="#" id="toggle-menu" class="hamburger">
      <span class="bar bar-top"></span>
      <span class="bar bar-middle"></span>
      <span class="bar bar-bottom"></span>
    </a>
    <ul id="links" class="links">
      <li><a href="prints/">Prints</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#scrolltogalleries" class="scroll">Galleries</a></li>
      <li id="scrolltogalleries"><a href="contact.html">Contact</a></li>
    </ul>
  </div>
</nav>
