<a id="top"></a>
<aside class="cover-photo">
	<figure class="v-center">
    <%= image_tag('logo1.png', class: 'logo') %>
     <!-- <img src="logo1.png" width="350" height="350" alt="Logo" class="logo"> -->
	</figure>
	<%= render partial: 'shared/nav' %>
</aside>
<section class="waypoint-nav gallery-container">
	<%= render partial: 'shared/galleries' %>
</section>
