/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Helvetica Neue', sans-serif;
}

.space {
  height: 90px;
}

.flash_error {
  width: 100%;
  position: absolute;
  top: 88px;
  background-color: red;
  text-align: center;
  font-weight: 800;
  padding: 5px;
  color: #fff;
  opacity: 0.6;
}

.flash_notice {
  width: 100%;
  position: absolute;
  top: 88px;
  background-color: blue;
  text-align: center;
  font-weight: 800;
  padding: 5px;
  color: #fff;
  opacity: 0.8;
}
