.cart-container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;

  h1.center {
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    margin-top: 100px;
  }
  a.center {
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    margin-top: 10px;
    text-decoration: none;
    color: #2196f3;
  }

  table {
    margin: 30px auto;
    max-width: 1000px;
    width: 100%;

    tr {
      border-bottom: 1px solid #ccc;

      th {
        text-align: left;
        font-weight: bold;
      }
      td img,
      td p {
        vertical-align: middle;
      }

      th, td {
        padding: 15px;
      }
    }
  }

  .cart-total {
    table tr {
      border-top: 1px solid #ccc;
      text-align: right;

      td {
        padding-right: 50px;
        font-weight: 800;

        span {
          color: #c33;
        }
      }
    }
  }

  input.right {
    float: right;
    margin-right: 50px;
  }
}
