.gal {
  width: 1000px;
  margin: 0 auto;

  h1 {
    font-size: 2em;
    font-weight: 800;
    color: #666;
  }

  h4 {
    font-size: 1.2em;
  }

  .title {
    margin: 25px 0;
  }
}

.gal-grid {
  max-width: 1000px;
  list-style: none;
	margin: 30px auto;
	padding: 0;
}

.gal-grid li {
	display: block;
	float: left;
	padding: 7px;
	width: 50%;
	opacity: 0;
}

.gal-grid li.shown,
.no-js .gal-grid li,
.no-cssanimations .gal-grid li {
	opacity: 1;
}

.gal-grid li a,
.gal-grid li img {
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
}

.gal-grid.move-up li.animate {
	-webkit-transform: translateY(200px);
	transform: translateY(200px);
	-webkit-animation: moveUp 0.65s ease forwards;
	animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}


// @media screen and (max-width: 900px) {
// 	.grid li {
// 		width: 50%;
// 	}
// }
//
// @media screen and (max-width: 400px) {
// 	.grid li {
// 		width: 100%;
// 	}
// }
