body,
html,
.cover-photo {
  height: 100%;
}

.cover-photo {
  background: url(image-path('cover4.jpg')) no-repeat center center fixed;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  max-width: 1920px;
}

.cover-photo .logo {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 330px;
  width: 80%;
}

.cover-photo .primary-navigation {
  left: 0;
  width: 100%;
}

.v-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
