.print-container {
  margin: 0 auto;
  max-width: 1200px;


  .print-image {
    width: 100%;
    margin: 40px auto;


    display: block;

    figure {
      max-width: 500px;
      display: inline-block;
      padding: 5px;

      img {
        width: 100%;
      }
    }
  }

  .print-form {
    width: 33%;
    display: block;
  }
}
